@tailwind base;
body {
  --color-primary: #ec4899;
  --color-seconadry: #363472;
}

.ProseMirror {
  min-height: 90vh;
  padding: 1rem 0 3rem;
  border: none;
  outline: none;
}

@tailwind components;
@tailwind utilities;
